*
!profile_images/
!profile_images/artistas/
!profile_images/artistas/115.jpg
!profile_images/artistas/116.jpg
!profile_images/artistas/117.jpg
!profile_images/artistas/121.jpg
!profile_images/artistas/122.jpg
!profile_images/artistas/123.jpg
!profile_images/artistas/124.jpg
!profile_images/usuarios/
!profile_images/usuarios/user.png
!.gitignore
